<div class="flex h-screen bg-image bg-cover">
  <aside class="w-64 bg-white p-5 flex flex-col items-center ">
    <div class="flex flex-col items-center">
      <div class="avatar-card mb-4">
        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" class="avatar-img" />
      </div>
      <h2 class="mt-2 text-lg font-semibold">EMPRESA 1</h2>
    </div>
    <nav class="mt-10 w-full">
      <ul class="space-y-2 w-full">
        <li class="flex items-center"(click)="onMenu()">
          <mat-icon class="inline-block w-5 h-5 mr-2">home</mat-icon>
          MENÚ PRINCIPAL
        </li>
        <li class="flex items-center cursor-pointer" (click)="onUsuarios()">
          <mat-icon class="inline-block w-5 h-5 mr-2">people</mat-icon>
          USUARIOS
        </li>
        <li class="flex items-center cursor-pointer" (click)="onCredito()">
          <mat-icon class="inline-block w-5 h-5 mr-2">credit_card</mat-icon>
          CRÉDITOS
        </li>
        <li class="flex items-center cursor-pointer" (click)="onDeudas()">
          <mat-icon class="inline-block w-5 h-5 mr-2">file_copy</mat-icon>
          DEUDAS
        </li>
      </ul>
    </nav>
    <div class="mt-auto w-full flex items-center cursor-pointer" (click)="onLogin()">
      <mat-icon class="inline-block w-5 h-5 mr-2">logout</mat-icon>
      CERRAR SESIÓN
    </div>
  </aside>
  <main class="flex-1 p-12 bg-fondo">
    <div class="flex justify-between items-center mb-8">
      <h1 class="text-5xl font-bold text-white">DEUDAS</h1>
    </div>
    <div class="bg-white rounded-lg shadow-md overflow-hidden">
      <div class="relative w-full overflow-auto">
        <table mat-table class="w-full caption-bottom text-sm" [dataSource]="dataSource">
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef class="text-left font-medium">Nombre</th>
            <td mat-cell *matCellDef="let user" class="p-4 align-middle">{{ user.nombre }}</td>
          </ng-container>
          <ng-container matColumnDef="dni">
            <th mat-header-cell *matHeaderCellDef class="text-left font-medium">DNI</th>
            <td mat-cell *matCellDef="let user" class="p-4 align-middle">{{ user.dni }}</td>
          </ng-container>
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef class="text-left font-medium">Fecha</th>
            <td mat-cell *matCellDef="let user" class="p-4 align-middle">{{ user.fecha }}</td>
          </ng-container>
          <ng-container matColumnDef="monto">
            <th mat-header-cell *matHeaderCellDef class="text-left font-medium">Monto</th>
            <td mat-cell *matCellDef="let user" class="p-4 align-middle">{{ user.monto }}</td>
          </ng-container>
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef class="text-left font-medium">Acciones</th>
            <td mat-cell *matCellDef="let user" class="p-4 align-middle">
              <button mat-raised-button color="accent" (click)="pagar(user.userId)">Pagar</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['nombre', 'dni', 'fecha', 'monto', 'acciones']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['nombre', 'dni', 'fecha', 'monto', 'acciones'];"></tr>
        </table>
      </div>
    </div>
  </main>
</div>
