<div class="flex h-screen main-background">
  <aside class="w-64 bg-white p-5">
    <div class="flex flex-col items-center">
      <mat-card class="avatar-card">
        <img mat-card-image src='https://cdn-icons-png.flaticon.com/512/3135/3135768.png' />
      </mat-card>
      <h2 class="mt-2 text-lg font-semibold">EMPRESA 1</h2>
    </div>
    <nav class="mt-10">
      <ul class="space-y-2">
        <li>
          <mat-icon class="inline-block w-5 h-5 mr-2">home</mat-icon>
          MENÚ PRINCIPAL
        </li>
        <li (click)="onUsuarios()">
          <mat-icon class="inline-block w-5 h-5 mr-2">people</mat-icon>
          USUARIOS
        </li>
        <li (click)="onCredito()">
          <mat-icon class="inline-block w-5 h-5 mr-2">credit_card</mat-icon>
          CRÉDITOS
        </li>
        <li (click)="onDeudas()">
          <mat-icon class="inline-block w-5 h-5 mr-2">file_copy</mat-icon>
          DEUDAS
        </li>
      </ul>
    </nav>
    <div class="mt-auto" (click)="onLogin()">
      <mat-icon class="inline-block w-5 h-5 mr-2"  >logout</mat-icon>
      CERRAR SESIÓN
    </div>
  </aside>
  <main class="flex-grow p-10" id="image">
    <h1 class="text-5xl font-bold text-center text-black mb-10">MENÚ PRINCIPAL</h1>
    <div class="grid grid-cols-3 gap-4">
      <mat-card class="bg-blue-200">
        <mat-card-header>
          <mat-card-title>NUMERO DE CLIENTES</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="text-3xl font-bold text-center">{{ clientes }}</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="bg-blue-200">
        <mat-card-header>
          <mat-card-title>Saldo Total en Cuentas Corrientes</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="text-3xl font-bold text-center">S/. {{ saldoTotal }}</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="bg-blue-200">
        <mat-card-header>
          <mat-card-title>CLIENTES ACTIVOS</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="text-3xl font-bold text-center">{{ clientesActivos }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </main>
</div>
